// Import Fuse main library
@import "app/core/scss/core";

.colorDiv {
  span {
    float: left;
    font-size: 18px;
  }

  div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 120px;
  }
}

.backButton {
  background-color: rgba(45, 50, 62, 0.2882352941176471) !important;
  color: white !important;

  &:hover {
    background-color: #2d323e !important;
  }

}

.editButton {
  background-color: rgba(45, 50, 62, 0.5882352941176471) !important;
  color: white !important;
  float: right;

  &:hover {
    background-color: #2d323e !important;
  }
}

.addButton {
  background-color: rgba(45, 50, 62, 0.5882352941176471) !important;
  color: white !important;
  float: right;

  &:hover {
    background-color: #2d323e !important;
  }
}

[dir=rtl] .nav .nav-item .nav-link .nav-link-icon {
  margin-left: 16px;
  margin-right: 0;
}

[dir=rtl] .mr-16 {
  margin-left: 16px !important;
  margin-right: 0 !important;
}

[dir=rtl] .mr-8 {
  margin-left: 8px !important;
  margin-right: 0 !important;
}

[dir=rtl] .navbar-header {
  direction: initial;
}

[dir=rtl] .colorDiv {
  span {
    float: right;
    font-size: 18px;
  }

  div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 120px;
  }
}

[dir=rtl] .date {
  float: left !important;
}

[dir=rtl] .totalBill .half .item h3 {
  float: right !important;
}


[dir=rtl] .mirror {
  transform: rotate(180deg);
}

[dir=rtl] .editButton {
  float: left;
}

[dir=rtl] .addButton {
  float: left;
}


[dir=rtl] .contentAr {
  overflow-x: scroll;
  height: 100%;

  ngx-datatable {
    width: fit-content;
  }
}

[dir=rtl] .listNotification {
  left: 12% !important;
  right: auto !important;

  .oneNotification .img {
    float: right !important;
  }

  .oneNotification .containt .text {
    text-align: right !important;
    direction: rtl !important;
  }
}

[dir=rtl] fuse-navbar-vertical.folded.left-navbar {
  right: 0;
  left: auto !important
}

// .content-wrapper-ar {
//   background-color: red !important;
// }

fuse-main.fuse-nav-bar-folded:not(.fuse-nav-bar-horizontal) .content-wrapper.content-wrapper-ar:last-child {
  padding-right: 64px;
  padding-left: 0px !important;
}


.hover {
  cursor: pointer;
}

.total {
  font-size: 15px;
  font-weight: 300;
  margin: 0px 20px;
  margin-top: 8px;
}

.customHeader {
  min-height: 80px !important;
  height: 80px !important;

  .customButtom {
    background-color: #2094c8;
    color: white;
    box-shadow: 0px 0px 4px rgba(101, 101, 101, 0.4);
    margin-left: 15px;
  }
}


.whiteCustomHeader {
  @extend .customHeader;
  background-image: none;
  background: none;
  color: #444444 !important;
  background-color: white !important;

  .customButtom {
    background-color: #444444;
  }

  mat-icon {
    color: #444444 !important;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #444444;
    opacity: 1;
    /* Firefox */
  }
}

.back {
  &:hover {
    cursor: pointer;
  }
}

.mat-dialog-container {
  padding: 0px !important;
  overflow: hidden !important;
  // height: 150px !important;

  .mat-dialog-title {

    background-color: #2094c8;
    padding: 5px 10px;
    color: white;
    margin: 0px;
  }

  .mat-dialog-content {
    margin: 0px;
    padding: 0 10px;
  }

  .mat-dialog-actions:last-child {
    margin: 0px !important;
  }

  .mat-dialog-actions {
    padding: 12px 10px
  }
}

.w-time {
  height: auto !important;
}

.w-timepicker-dialog {
  margin: -2px -24px !important;
}

.w-time-content .mat-button:nth-child(2) {
  margin-right: 30px;
}

.hide {
  display: none !important;
}
