<div id="contacts" class="page-layout simple left-sidenav inner-sidenav">

  <div class="header mat-accent-bg p-16 customHeader" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">

    <!-- APP TITLE -->
    <div fxLayout="row" fxLayoutAlign="start center">

      <button mat-button class="mat-icon-button sidenav-toggle mr-12" fuseMatSidenavToggler="contacts-main-sidenav"
        fxHide.gt-md>
        <mat-icon>menu</mat-icon>
      </button>

      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16">airplanemode_active</mat-icon>
        <span class="logo-text h1">{{'TRIP.ALLTRIP.TITLE' | translate}}</span>
        <span class="logo-text h1 total"> {{'Global.TOTAL' | translate}} : {{total}}</span>

      </div>

    </div>
    <!-- / APP TITLE -->

    <!-- SEARCH -->
    <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field>
        <mat-select (change)="changeSort($event)" placeholder="{{ 'Global.SORTON' | translate }}" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="sortValue">
          <mat-option *ngFor="let element of sortArray" [value]="element.value">
            {{element.view | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <button mat-button class="customButtom" color="primary" type="button" *ngIf="viewClear==true" style="background-color: #2d323e"
        (click)="clearFilter()">{{'Global.CLEAR'
        | translate}}</button>

      <button mat-button class="customButtom" color="primary" type="button" (click)="openFilter()">{{'Global.FILTER'
        | translate}}</button>


      <button mat-button class="customButtom" color="primary" type="button" (click)="addUser()">{{'TRIP.ALLTRIP.ADDTRIP'
        | translate}}</button>

    </div>
    <!-- / SEARCH -->


  </div>


  <div class="content contentAr">
    <ngx-datatable class="material vertical-scroll" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
      [rowHeight]="50" [footerHeight]="50" [scrollbarV]="false" [scrollbarH]="isEnLang()" [count]="count" [offset]="offset"
      [limit]="limit">

      <ngx-datatable-column [canAutoResize]="false" [flexGrow]="1" prop="owner.name">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span>{{ 'TRIP.USER' | translate }}</span>
        </ng-template>

      </ngx-datatable-column>


      <ngx-datatable-column [canAutoResize]="false" [flexGrow]="1" prop="location.nameEn">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span>{{ 'TRIP.LOCATION' | translate }}</span>
        </ng-template>

      </ngx-datatable-column>

      <ngx-datatable-column [canAutoResize]="false" [flexGrow]="1" prop="car.name">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span>{{ 'TRIP.CAR' | translate }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [canAutoResize]="false" [flexGrow]="1" prop="driver.username">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span>{{ 'TRIP.DRIVER' | translate }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [canAutoResize]="false" [flexGrow]="1" prop="cost">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span>{{ 'TRIP.PRICE' | translate }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [canAutoResize]="true" [flexGrow]="1" prop="">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <!-- <span>{{ 'DRIVER.GENDER' | translate }}</span> -->
          <span>{{ 'TRIP.COUPON' | translate }}</span>


        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <mat-chip-list *ngIf="row.coupon" >
            <mat-chip (click)="openTripCoupon(row)" style="background-color:#ff6363" selected="true">{{row.coupon['code']}}</mat-chip>
          </mat-chip-list>
          <mat-chip-list *ngIf="row.coupon==null">
            <mat-chip style="background-color:#3b6fff" (click)="openTripCoupon(row)" selected="true">{{ 'TRIP.NOCOUPON' | translate }}</mat-chip>
          </mat-chip-list>

        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column [canAutoResize]="true" [width]="20" [flexGrow]="1" prop="">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <!-- <span>{{ 'DRIVER.GENDER' | translate }}</span> -->
          <mat-icon style="color: rgba(66, 66, 66, 0.51)">flight_land</mat-icon>


        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <mat-icon style="color: #13c43f" *ngIf="row.fromAirport==true">check_circle_outline</mat-icon>
          <mat-icon style="color: #c22048" *ngIf="row.fromAirport==false">highlight_off</mat-icon>
        </ng-template>
      </ngx-datatable-column>




      <ngx-datatable-column [canAutoResize]="true" [width]="20" [flexGrow]="1" prop="">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <!-- <span>{{ 'DRIVER.GENDER' | translate }}</span> -->
          <mat-icon style="color: rgba(66, 66, 66, 0.51)">directions_car</mat-icon>


        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <mat-icon style="color: #13c43f" *ngIf="row.inCity==true">check_circle_outline</mat-icon>
          <mat-icon style="color: #c22048" *ngIf="row.inCity==false">highlight_off</mat-icon>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column [canAutoResize]="true" [width]="20" [flexGrow]="1" prop="">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <!-- <span>{{ 'DRIVER.GENDER' | translate }}</span> -->
          <mat-icon style="color: rgba(66, 66, 66, 0.51)">flight_takeoff</mat-icon>


        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <mat-icon style="color: #13c43f" *ngIf="row.toAirport==true">check_circle_outline</mat-icon>
          <mat-icon style="color: #c22048" *ngIf="row.toAirport==false">highlight_off</mat-icon>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [canAutoResize]="false" [flexGrow]="1" prop="rate">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span>{{ 'TRIP.RATE' | translate }}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{row['rate']!=null ? row['rate']['value'] : '-'}}</span>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column [canAutoResize]="false" [flexGrow]="1" prop="Status">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span>{{ 'TRIP.STATUS' | translate }}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <mat-chip-list *ngIf="row.status=='active'">
            <mat-chip style="background-color:green" selected="true">{{row.status}}</mat-chip>
          </mat-chip-list>
          <mat-chip-list *ngIf="row.status=='deactive'">
            <mat-chip style="background-color:#ff6363" selected="true">{{row.status}}</mat-chip>
          </mat-chip-list>
          <mat-chip-list *ngIf="row.status!='deactive' && row.status!='active'">
            <mat-chip style="background-color:#3b6fff" selected="true">{{row.status}}</mat-chip>
          </mat-chip-list>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column [canAutoResize]="false" [width]="190" [flexGrow]="1" prop="start">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span>{{ 'TRIP.START' | translate }}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>
            {{row["start"] | date: 'dd-MM-yyyy HH:mm'}}
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [canAutoResize]="false" [width]="190" [flexGrow]="1" prop="end">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span>{{ 'TRIP.END' | translate }}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>
            {{row["end"] | date: 'dd-MM-yyyy HH:mm'}}
          </span>
        </ng-template>
      </ngx-datatable-column>




      <ngx-datatable-column [canAutoResize]="false" [width]="310" [flexGrow]="1">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span> </span>
        </ng-template>

        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button mat-mini-fab *ngIf="row.status=='finished'" class="mr-16" style="background-color: #8a8a8a;" (click)="goTo('bills',row['id'])">
            <mat-icon style="color : white;">subtitles</mat-icon>
          </button>

          <button mat-mini-fab class="mr-16" (click)="goTo('edit',row['id'])" style="background-color: rgba(20, 160, 202, 0.911);">
            <mat-icon style="color : white;">edit</mat-icon>
          </button>
          <button mat-mini-fab class="mr-16" style="background-color: rgba(7, 112, 7, 0.849);" (click)="goTo('view',row['id'])">
            <mat-icon style="color : white;">visibility</mat-icon>
          </button>

          <button mat-mini-fab class="mr-16" style="background-color: darkgoldenrod;" (click)="rate(row['id'])">
            <mat-icon style="color : white;">star</mat-icon>
          </button>


          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="row.status!='deactive'" (click)="changeStatus('deactive',row.id)">
              <mat-icon>cancel</mat-icon>
              <span>{{'TRIP.DEACTIVE' | translate}}</span>
            </button>
            <button mat-menu-item *ngIf="row.status!='approved'" (click)="changeStatus('approved',row.id)">
              <mat-icon>more_horiz</mat-icon>
              <span>{{'TRIP.APPROVED' | translate}}</span>
            </button>
            <button mat-menu-item *ngIf="row.status!='pending'" (click)="changeStatus('pending',row.id)">
              <mat-icon>group</mat-icon>
              <span>{{'TRIP.PENDING' | translate}}</span>
            </button>
            <button mat-menu-item *ngIf="row.status!='active'" (click)="changeStatus('active',row.id)">
              <mat-icon>check</mat-icon>
              <span>{{'TRIP.ACTIVE' | translate}}</span>
            </button>
            <button mat-menu-item *ngIf="row.status!='finished'" (click)="changeStatus('finished',row.id)">
              <mat-icon>check</mat-icon>
              <span>{{'TRIP.FINISHED' | translate}}</span>
            </button>
          </mat-menu>
        </ng-template>

      </ngx-datatable-column>



      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
          , let-curPage="curPage" let-offset="offset">
          <div style="padding: 5px 10px">
            <div class="pagination">
              <button [ngClass]="{'disabled':disableObject.first == true}" [disabled]="disableObject['first']" (click)="first()">
                <i class="material-icons">
                  fast_rewind
                </i>
              </button>
              <button [ngClass]="{'disabled':disableObject.prev == true}" [disabled]="disableObject['prev']" (click)="prev()">

                <i class="material-icons" style="transform: rotate(180deg);">
                  play_arrow
                </i>
              </button>
              <button [ngClass]="{'disabled':disableObject.next == true}" [disabled]="disableObject['next']" (click)="next()">

                <i class="material-icons">
                  play_arrow
                </i>
              </button>
              <button [ngClass]="{'disabled':disableObject.end == true}" [disabled]="disableObject['end']" (click)="end()">

                <i class="material-icons">
                  fast_forward
                </i>
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-footer>

    </ngx-datatable>
  </div>

</div>
